<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pomo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Pomo.Properties.Settings>
            <setting name="workTime" serializeAs="String">
                <value>00:25:00</value>
            </setting>
            <setting name="breakTime" serializeAs="String">
                <value>00:15:00</value>
            </setting>
            <setting name="longBreakTime" serializeAs="String">
                <value>00:15:00</value>
            </setting>
            <setting name="iterations" serializeAs="String">
                <value>4</value>
            </setting>
        </Pomo.Properties.Settings>
    </userSettings>
</configuration>